.title {
  text-align: center;
  font-size: 50px;
}
.subtitle {
  text-align: center;
  font-size: 20px;
}

.body{
  font-family: 'Italiana', serif;
}
@media screen and (max-width: 700px) {
  .navbar {
    background: green;
  }
}

@media screen and (min-width: 701px) {
  .navbar {
    background: brown;
  }
}

.tile.is-parent {
  padding: 15px;
}
.tile {
  justify-content: center;
}
